<h1>This is the game board with the map</h1>
<!-- Click to go to main page -->
<button class="btn btn-warning" (click)="resetClicked()">Torna a Start</button>
<div class="container">
  <div class="row">
    <!-- Space for the Manual fire process and buttons -->
    <div class="col-7 keyboard">
      <span>Here goes the Keyboard</span>
      <div class="row fire-me my-1">
        <div class="col-9">
          <div class="row mb-1" *ngIf="fireState === 'keyboard'">
            <div class="col-2 px-0">
              <!-- Letter Column -->
              <div class="row letter-column d-flex flex-column">
                <div class="col" *ngFor="let letter of arrayLetters; index as j">
                  <app-fire-button [value]="arrayLetters[j]" (targetKeyboardFire)="updateTarget($event)">
                  </app-fire-button>
                </div>
              </div>
            </div>
            <div class="col-2 px-0">
              <!-- Number Column -->
              <div class="row number-column">
                <div class="col" *ngFor="let letter of arrayLetters; index as j">
                  <app-fire-button [value]="j + 1" (targetKeyboardFire)="updateTarget($event)"></app-fire-button>
                </div>
              </div>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-danger" [disabled]="!readyToFire" (click)="fireHasBeenSent()">
                Fire
              </button>
              <span class="mx-1">{{ possibleCoordinates[0] }}</span>
              <span class="mx-1">{{ possibleCoordinates[1] }}</span>
            </div>
          </div>
        </div>
        <!-- Generate the grid with cell components -->
        <div class="col-3">
          <button class="btn btn-success" (click)="boardGenerator()" [disabled]="!canGenerateBoard">
            Start Game
          </button>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4 life">
      <!-- Life info -->
      <div class="row heart-row">
        <h4>Life bar</h4>
        <button type="button" class="btn btn-outline-success" (click)=" toggleVisibleChanger()">Easy Mode</button>
        <div class="life-box">{{ lifeRemaining }}</div>
        <div class="col-10 heart-wrapper">
          <fa-icon [icon]="faHeart" *ngFor="let heart of lifeRemainingArray; index as i"
            [ngStyle]="{ color: heart === 'on' ? 'red' : 'black' }"></fa-icon>
        </div>
      </div>
    </div>
  </div>
  <!-- This is the board Grid -->
  <div class="row sea-grid">
    <div class="col-12 col-wrapper">
      <div class="letters-on-grid">
        <div class="row text-center">
          <div class="col lett">A</div>
          <div class="col lett">B</div>
          <div class="col lett">C</div>
          <div class="col lett">D</div>
          <div class="col lett">E</div>
          <div class="col lett">F</div>
          <div class="col lett">G</div>
          <div class="col lett">H</div>
          <div class="col lett">I</div>
          <div class="col lett">J</div>
        </div>
      </div>
      <div class="numbers-on-grid">
        <div class="row d-flex flex-column text-center">
          <div class="col numb">1</div>
          <div class="col numb">2</div>
          <div class="col numb">3</div>
          <div class="col numb">4</div>
          <div class="col numb">5</div>
          <div class="col numb">6</div>
          <div class="col numb">7</div>
          <div class="col numb">8</div>
          <div class="col numb">9</div>
          <div class="col numb">10</div>
        </div>
      </div>

      <div class="wrapper">
        <app-cell #cellRef [toggleVisibleInput]="toggleVisible" [inputLetter]="cell.letter" [inputNumber]="cell.number"
          [inputSeaOrShip]="cell.seaOrShip" (reduceLifeFired)="changeLife($event)"
          (myCoordinates)="thisHasBeenHit($event)" *ngFor="let cell of listBoardRand"></app-cell>
      </div>
    </div>
  </div>
</div>